{{> menu}}

<form class="box"  action="/review/{{poi._id}}/updatereview/{{review._id}}" method="POST">
  <label>Update Review Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="reviewer", value="{{review.reviewer}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="review" value="{{review.review}}">
      </div>
      <div class="field">
        <input class="input" type="number" step="0.01" name="rating" value="{{review.rating}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Review</button>
</form>

